.input-component {
    min-height: 250px;
    background-color: lightblue;
    min-width: 240px;
    max-width: 60%;
    text-align: center;
    margin: 0px auto 10px auto;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 1%;

    display: flex;
    flex-direction: column;
}

.input-component button {
    width: 90px;
    transition: .4s;
    border: 2px solid black;
    background-color: lightblue;
    color: black;
    font-weight: bold;
    word-break: break-all;
    border-radius: 5px;

    box-sizing: border-box;
    margin-top: 20px;
}

.input-component button:hover {
    background-color: black;
    color: white;
}

.input-component textarea {
    resize: vertical;
}
h1{
    font-size: 25px;
    border:1px solid white;
    width: 30%;
    border-radius: 5%;
    color: white;
    background-color: black;
}
h1, button{
    align-self: center;
}
