.msg-box {
    background-color: lightblue;
    border-radius: 10px;
    min-width: 200px;
    max-width: 40%;
    word-break: break-all;
    padding: 1%;
    margin: 0px auto 1% auto;
    border: 1px solid #333;
    display: flex;
    flex-direction: column; 
}

.msg-box textarea {
    resize: vertical;
}

.icon-buttons {
    display: flex;
}

.icon-button {
    width: 30px;
    height: 30px;
    margin: 2px;
}
